/**
 * External
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '~bulma';
@import '~bulma-helpers';
@font-face {
    font-family: "gojali";
    src: url("./../fonts/Gojali-Regular.otf");
  }
  
/** Solar */

@import './solar.scss';

/*Si necesitas los estilos por defecto de slick carousel descomenta las 2 siguientes lineas
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
*/

/**
 * Making some helpers
 */


* {
    font-family: $body-family;
}

span, p {
    line-height: 135%;
    letter-spacing: 1px;
}

strong {
    color: $dark !important;
}

*:focus {
    outline: unset !important;
}

._hover-transform {
    transition: 0.3s;    
}

._hover-transform:hover {
    transition: 0.3s; 
    transform: scale(1.2);
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: unset !important;
    color: #ffffff !important;
}

// 
// ------    HEADER    ------
.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
}

.navbar-item {
    background-color: transparent;
    color: #ffffff
}

a.navbar-item:focus, a.navbar-item:focus-within {
    background-color: transparent !important;
    color: #ffffff; 
}

// 
// ------    HERO    ------

// prueba

._caja-1 {
    z-index: 0;
    position: absolute;
    bottom: 14%;
    left: 30%;
    transform: translateX(-65%) !important;
}

._caja-2 {
    z-index: 0;
    position: absolute;
    bottom: 30%;
    right: 18%;
    transform: translateX(60%) !important;
    width: 340px;
}

._caja-1 div, ._caja-2 div {
    position: relative !important;
}

._btn-down-circular {
    color: #ffffff;
    float: right;
    position: absolute;
    left: 40%;
    transform: translateX(-155%);
    bottom: 5%;
    z-index: 99;
}

// fin de la prueba

._galena-gradient {
    background: radial-gradient(circle, #382515 -70%, #0e0f13 88%)
}

._container-galena {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    min-width: 768px;
}

._container-galena img {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100vh;
    object-fit: cover;
}

._sombra-inferior {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #0e0f13 10%, rgba(0,0,0,0) 98%);
}

._btn-down-circular {

}

._texto-degradado {
    background: -webkit-linear-gradient(-33deg, #ffffff 42%, #5a5454 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;  
}



// 
// ------    PORPUSE    ------
._porpuse-container {
    min-height: 60vh;
    padding: 10vh 0;
}

._ancester {
    max-height: 800px;
}

._mini-container .titulo span {
    transition: 0.3s;
}

._mini-container:hover .titulo span {
    transition: 0.3s;
    transform:scale (1.2);
    font-size: 1rem !important;
}

// 
// ------    ANOTHERPICTURE    ------
._galena2-background {
    background: url('./../images/galena_img_2.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, center;
}

// 
// ------    GALLERY    ------

// 
// ------    FOOTHER    ------
._premios {
    transition: 0.6s;
    filter: grayscale(100%);
}

._premios:hover {
    transition: 0.4s;
    filter: grayscale(0%);
}


// ...........................................
// @@@@@@   RESPONSIVE / MEDIAQUERYS    @@@@@@
@media only screen and (max-width: 1407px) {
    
    // 
    // ------    NAVBAR    ------
    .navbar {
        padding: 1rem !important;
        margin: 0 !important;
    }
    
    // 
    // ------    HERO    ------
    ._sobre-galena {
        padding: 0px 30px !important;
    }

    ._is-size-extra-large {
        font-size: 6rem;

        ._texto-degradado._reduccion-entre-lineas {
            margin-top: -50px;
        }
    }
}

@media only screen and (min-width: 1408px) {
    ._is-size-extra-large {
        font-size: 10rem !important;

        ._texto-degradado._reduccion-entre-lineas {
            margin-top: -85px;
        }
    }

    ._container-galena {
        z-index: 9;
    }
}