/**
 * External
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '~bulma';
@import '~bulma-helpers';
@font-face {
    font-family: "gojali";
    src: url("./../fonts/Gojali-Regular.otf");
  }
  
/** Solar */

@import './solar.scss';

/*Si necesitas los estilos por defecto de slick carousel descomenta las 2 siguientes lineas
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
*/

/**
 * Making some helpers
 */


* {
    font-family: $body-family;
}

span, p {
    line-height: 135%;
    letter-spacing: 1px;
}

strong {
    color: $dark !important;
}

*:focus {
    outline: unset !important;
}

._hover-transform {
    transition: 0.3s;    
}

._hover-transform:hover {
    transition: 0.3s; 
    transform: scale(1.2);
}

._is-size-extra-large {
    font-size: 17vh !important;

    &:nth-child(2) {
        margin-top: -7vh;
    }
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: unset !important;
    color: #ffffff !important;
}


// 
// ------    HEADER    ------
.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
}

.navbar-item {
    background-color: transparent;
    color: #ffffff
}

a.navbar-item:focus, a.navbar-item:focus-within {
    background-color: transparent !important;
    color: #ffffff; 
}


// 
// ------    HERO    ------
._caja-1 {
    z-index: 0;
    position: absolute;
    bottom: 14%;
    left: 30%;
    transform: translateX(-65%) !important;
}

._caja-2 {
    z-index: 0;
    position: absolute;
    bottom: 30%;
    right: 18%;
    transform: translateX(60%) !important;
    width: 340px;
}

._caja-1 div, ._caja-2 div {
    position: relative !important;
}

._boton-purpose {
    color: #ffffff;
    float: right;
    position: absolute;
    left: 40%;
    transform: translateX(-155%) !important;
    bottom: 5%;
    z-index: 99;
}

._galena-gradient {
    background: radial-gradient(circle, #382515 -70%, #0e0f13 88%)
}

._container-galena {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    min-width: 768px;
}

._container-galena img {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100vh;
    object-fit: cover;
}

._sombra-inferior {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #0e0f13 10%, rgba(0,0,0,0) 98%);
}

._texto-degradado {
    background: -webkit-linear-gradient(-33deg, #ffffff 42%, #5a5454 100%);
    padding-top: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;  
}


// 
// ------    PORPUSE    ------
._porpuse-container {
    min-height: 60vh;
    padding: 10vh 0;
}

._ancester {
    max-height: 800px;
}

._mini-container .titulo span {
    transition: 0.3s;
}

._mini-container:hover .titulo span {
    transition: 0.3s;
    transform:scale (1.2);
    font-size: 1rem !important;
}


// 
// ------    ANOTHERPICTURE    ------
._galena2-background {
    height: 100vh;
    width: 100%;
    position: absolute;
}


// 
// ------    GALLERY    ------

._galena-collection {
    background-position: top, center !important;
    min-height: 200px !important;
}

._galena-collection._large-one {
    height: 50vw;
    background-position: right !important;
}

._galena-collection img {
    transition: 0.6s;
    transform: scale(1);
}

._galena-collection img:hover {
    transition: 0.6s;
    transform: scale(1.05);
}


// 
// ------    FOOTHER    ------

._premios {
    transition: 0.6s;
    filter: grayscale(100%);
}

._premios:hover {
    transition: 0.4s;
    filter: grayscale(0%);
}


// 
// ------    NEWSLETTER    ------

[data-newsletter] {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s;
}

[data-newsletter]._newsletter-animation {
    transition: 0.6s;
    pointer-events: all !important;
    opacity: 1 !important;
}

.formularie {
    z-index: 9;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    display: flex !important;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, #382515 0%, #0e0f13 88%);
    box-shadow: 0px 0px 45px #382515;
}






//
//
//
//
//
//
//
//
//
//
//
//
// ...........................................
// @@@@@@   RESPONSIVE / MEDIAQUERYS    @@@@@@

@media only screen and (max-width: 1023px) {
    ._caja-1 {
        left: 20px;
        bottom: 35%;
        transform: translateX(0) !important;
    }

    ._caja-2 {
        left: 20px;
        right: auto;
        bottom: 10%;
        transform: translateX(0) !important;
    }

    ._is-size-extra-large {
        font-size: 13vh !important;
    }
}

@media only screen and (max-width: 1407px) {
    
    // 
    // ------    NAVBAR    ------
    .navbar {
        padding: 1rem !important;
        margin: 0 !important;
    }
    
    // 
    // ------    HERO    ------
    ._sobre-galena {
        padding: 0px 30px !important;
    }
}

// 
// 
// 
// 
// 
// 
// RESCRIBIENDO CLASES BULMA EN RESPONSIVE
@media screen and (min-width: 1216px){
    .column.is-2-widescreen {
        flex: none !important;
        width: 16.66666674% !important;
    }
}

@media only screen and (min-width: 1408px) {
    ._texto-degradado._reduccion-entre-lineas {
        margin-top: -85px;
    }

    ._container-galena, ._sombra-inferior {
        z-index: 9;
    }
}